<%# <div class=“container”>
  <h1 class="text-center">O  M  G</h1>
  <h2 class="text-center">Grandmas for hire </h2>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <img src="https://images.pexels.com/photos/7884129/pexels-photo-7884129.jpeg" alt="cool granny" id="intro_photo"class="intro_photo border border-warning rounded">
    </div>
    <button id="enter_button"class="glow-on-hover mt-3 mb-3" type="button">Enter!</button>
  </div>
</div> %>

  <div id="banner-container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7884129/pexels-photo-7884129.jpeg);">
<div class="container">
      <h1>OM Grandma!</h1>
      <p>Meet a granny. Change her life.</p>
      <a href="/granny_offers" id="enter_button" class="glow-on-hover mt-5 mb-5" type="button">Enter!</a>
      <h2 class="text-white text-center mt-5">Are you lonely? Do you miss your grandma? Checkout these grannies near you, book a meeting and have a great time.</h2>
    </div>
  </div>
</div>
