<div class="container">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7329688/pexels-photo-7329688.jpeg?auto=compress&cs=tinysrgb&w=1200)">
  Check out our lovely grannies
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/5333753/pexels-photo-5333753.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Jolenne</h2>
          <h3>Kreuzberg</h3>
          <p>She's fience, active and loves the walks in the park.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/7884125/pexels-photo-7884125.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Beate</h2>
          <h3>Wilmersdorf</h3>
          <p>Always up for a cards game and a martini.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/7086474/pexels-photo-7086474.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Nadia</h2>
          <h3>Prenzlauer Berg</h3>
          <p>Kids and a warm house give her joy.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/5231307/pexels-photo-5231307.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load" />
        <div class="card-product-infos">
          <h2>Brigitte</h2>
          <h3>Friedrichshain</h3>
          <p>Used to be a frontwoman of a band and she's still up for listening sessions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/509236/pexels-photo-509236.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load" />
        <div class="card-product-infos">
          <h2>Morticia</h2>
          <h3>Britz</h3>
          <p>Her garden is her biggest proud and she is super proud of it.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/5637573/pexels-photo-5637573.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load" />
        <div class="card-product-infos">
          <h2>Anh</h2>
          <h3>Lichtenberg</h3>
          <p>A house full flowers and positive vibes, is her way of life.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/8307324/pexels-photo-8307324.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Odette</h2>
          <h3>Mitte</h3>
          <p>Loves visiting museums, galleries and exhibitions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/7330112/pexels-photo-7330112.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Genevieve</h2>
          <h3>Grünau</h3>
          <p>A retired poker professional wants to hang out and "steal" your money.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-product">
        <img src="https://images.pexels.com/photos/5231289/pexels-photo-5231289.jpeg?auto=compress&cs=tinysrgb&w=1200" />
        <div class="card-product-infos">
          <h2>Martina</h2>
          <h3>Neukölln</h3>
          <p>She loves to cook and doesn't go anywhere without her favourite lipstick.</p>
        </div>
      </div>
    </div>
  </div>
</div>
