// Import page-specific CSS files here.
// @import "home";

.card-profile {
  overflow: hidden;
  // height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  // padding-left: 5px;
  // padding-bottom: 10px;
  padding: 30px;
}

.img_profile {
  width: 350px;
  height: 350px;
  // object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.list_unstyled {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
